@using Quenchhunger.Models;
@using System.Web.Mvc.Html;
@using (Html.BeginForm("SaveOrder", "CheckOut", FormMethod.Post))
{
<br />
<div class="container m-t-30">
    <div class="widget clearfix">
        <!-- /widget heading -->
        <div class="widget-heading">
            <div style="margin-left:500px;">
                <h3 class="widget-title text-dark">
                    Checkout Summary
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <div id="ValidationError" name="ValidationError" class="alert-danger">
            </div>
                <div class="row">
                    <div class="col-sm-6 margin-b-30">
                        <div class="row">
                            <div class="col-sm-12">
                                
                                @if (Model != null && Model.deliveryAddress.Count >= 1)
                                {
                                    foreach (var item in Model.deliveryAddress)
                                    {
                                        <input type="radio" value=@item.id name="address" 
                                               />
                                        <label >Deliver To :</label>
                                        <address style="margin-left:50px;">
                                            @item.fullAddress
                                            <br />
                                            @item.city, @item.state
                                            <br />
                                            @item.country, @item.pincode
                                        </address>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a class="btn btn-lg theme-btn" href='@Url.Action("AddDeliveryAddress", "CheckOut")'>
                                        Add New Delvery Address
                                    </a>
                                </div>
                                <!--/form-group-->
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cart-totals margin-b-20">
                            <div class="cart-totals-title">
                                <h4>Cart Summary</h4>
                            </div>
                            <div class="cart-totals-fields">
                                <table class="table">
                                    <tbody>
                                        @if (Model != null && Session["cartlist"] != null)
                                        {
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Qty
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                            </tr>
                                            foreach (var item in Model.cartList)
                                            {
                                                <tr>
                                                    <td>@item.prodductName</td>
                                                    <td>@item.productDes</td>
                                                    <td>@item.qty</td>
                                                    <td>@item.price</td>
                                                </tr>
                                            }
                                            
                                            <tr>
                                                <td ><strong>Total</strong></td>
                                                <td>
                                                 <td>
                                                </td>
                                                <td >
                                                    <strong >@Model.cartTotal</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Delivery Charge</strong></td>
                                                <td>
                                                <td></td>
                                                <td>
                                                    <strong>-@Model.DeliveryCharage</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Discount</strong></td>
                                                <td>
                                                <td></td>
                                                <td>
                                                    <strong>-@Model.Offer</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Net Pay Amount</strong></td>
                                                <td>
                                                <td></td>
                                                <td>
                                                    <strong>@Model.NetPayAmount</strong>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--cart summary-->
                        <div class="payment-option">
                            <div style="margin-left:200px; margin-top:100px;">
                                <input type="submit" class="btn btn-lg theme-btn" value="Confirm Order" onclick="return Validate();" />
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
</div>
}
@section Scripts {
    <script>
        function Validate() {
            var radios = document.getElementsByName('address')

            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                   // alert("Selected Value = " + radios[i].value);
                    return true; // checked
                }
            };

            // not checked, show error
            document.getElementById('ValidationError').innerHTML = 'No Delivery Address !! Please Select Delivery Address';
            return false
        }
    </script>
}