@using Quenchhunger.Models;
<br />
<div class="container m-t-30">
    <div class="widget clearfix">
        <!-- /widget heading -->
        <div class="widget-heading">
            <div style="margin-left:500px;">
                <h3 class="widget-title text-dark">
                    Checkout Summary
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <form method="post" action="#">
                <div class="row">
                    <div class="col-sm-6 margin-b-30">
                        <div class="row">
                            <div class="col-sm-6" style="color:forestgreen">
                                <input type="radio" class ="custom-control-input" checked="checked">
                                <b> Delivery Address</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" class="form-control" placeholder="John">
                                </div>
                                <!--/form-group-->
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control" placeholder="Doe">
                                </div>
                                <!--/form-group-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Country*</label>
                                    <select class="form-control">
                                        <option>Nigeria</option>
                                        <option>India</option>
                                        <option>USA</option>
                                        <option>UK</option>
                                    </select>
                                </div>
                                <!--/form-group-->
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" placeholder="Lorem ipsum">
                                </div>
                                <!--/form-group-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Full Address*</label>
                                    <input type="text" class="form-control" placeholder="124, Lorem Street..">
                                </div>
                                <!--/form-group-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>City / State*</label>
                                    <input type="text" class="form-control" placeholder="Jaipur">
                                </div>
                                <!--/form-group-->
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Zip/ Postal Code*</label>
                                    <input type="text" class="form-control" placeholder="302012">
                                </div>
                                <!--/form-group-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email Address*</label>
                                    <input type="text" class="form-control" placeholder="john@doe.com">
                                </div>
                                <!--/form-group-->
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>phone*</label>
                                    <input type="text" class="form-control" placeholder="123-345-3322">
                                </div>
                                <!--/form-group-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cart-totals margin-b-20">
                            <div class="cart-totals-title">
                                <h4>Cart Summary</h4>
                            </div>
                            <div class="cart-totals-fields">
                                <table class="table">
                                    <tbody>
                                    @if (Model != null && Session["cartlist"] != null)
                                    {
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                        </tr>
                                        foreach (var item in Model.cartList)
                                        {
                                            <tr>
                                                <td>@item.prodductName</td>
                                                <td>@item.productDes</td>
                                                <td>@item.qty</td>
                                                <td>@item.price</td>
                                            </tr>
                                        }

                                        <tr>
                                            <td class="text-color"  colspan="2"><strong>Total</strong></td>
                                            <td class="text-color"  colspan="2" >
                                            <strong style="margin-left:100px;">@Model.cartTotal</strong>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--cart summary-->
                        <div class="payment-option">
                            <div style="margin-left:200px; margin-top:100px;">
                                <input type="submit" class="btn btn-success active" value="Pay now" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>