<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quench Hunger</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://quenchhunger.com/css/style_new.css" rel="stylesheet">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
.icon-size{
 
font-size:em;
 
}
</style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      @if (ViewContext.RouteData.Values["action"].ToString()!="Index" &&
          ViewContext.RouteData.Values["action"].ToString() != "About" &&
          ViewContext.RouteData.Values["action"].ToString() != "Contact" &&
          ViewContext.RouteData.Values["controller"].ToString()!= "Account")
      {
          <ul class="nav navbar-nav" style="float:right; margin-left:10px; background-color:transparent;">
            <li >
                <a href='@Url.Action("cart", "Cart", new { res_id = @Session["cart"], })' >
                    <span class="glyphicon glyphicon-shopping-cart " style="color:chartreuse">
                    </span>Cart <span class="badge">@Session["cart"]</span>
                </a>
            </li>
        </ul>
      }
        <div class="container">
            <div class="navbar-collapse collapse">
                <img class="img-rounded" src="http://quenchhunger.com/images/image/logo.png" alt="" />
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <!-- start: FOOTER -->
        <section class="app-section">
            <div class="app-wrap">
                <div class="container">
                    <div class="row text-img-block text-xs-left">
                        <div class="container">
                            <div class="col-xs-12 col-sm-5 right-image text-center">
                                <figure> <img src="http://quenchhunger.com/images/image/app.png" alt="Right Image" class="img-fluid"> </figure>
                            </div>
                            <div class="col-xs-12 col-sm-7 left-text">
                                <h3>The Best Food Delivery App</h3>
                                <p>Now you can make food happen pretty much wherever you are thanks to the free easy-to-use Food Delivery &amp; Takeout App.</p>
                                <div class="social-btns">
                                    <a href="#" class="app-btn apple-button clearfix">
                                        <div class="pull-left"><i class="fa fa-apple"></i> </div>
                                        <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">App Store</span> </div>
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=com.sangtechtechnologies.quenchhungerapp" class="app-btn android-button clearfix">
                                        <div class="pull-left"><i class="fa fa-android"></i> </div>
                                        <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">Play store</span> </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <!-- top footer statrs -->
            <div class="row top-footer">
                <div class="col-xs-12 col-sm-3 footer-logo-block color-gray">
                    <a href="#"> <img src="http://quenchhunger.com/images/image/logo.png" alt="Footer logo"> </a> <span>Order Delivery &amp; Take-Out </span>
                </div>
                <div class="col-xs-12 col-sm-2 about color-gray">
                    <h5>Address</h5>
                    <p>20 Bank Road, Owerri,Imo State,Nigeria</p>
                    <h5>Phone:<span style="color:chartreuse;font-size:large; margin-left:10px;"> 09030009458</span></h5>
                </div>
                <div class="col-xs-12 col-sm-5 additional-info color-gray">
                    <h5>Addition informations</h5>
                    <p>Join the thousands of other restaurants who benefit from having their menus on TakeOff</p>
                </div>
               
            </div>
            <!-- top footer ends -->
            <!-- bottom footer statrs -->
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 payment-options color-gray">
                        <h5>Payment Options</h5>
                        <ul>

                            <li>
                                <a href="#"> <img src="http://quenchhunger.com/images/image/mastercard.png" alt="Mastercard"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="http://quenchhunger.com/images/image/maestro.png" alt="Maestro"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="http://quenchhunger.com/images/image/stripe.png" alt="Stripe"> </a>
                            </li>

                        </ul>
                    </div>
                   
                </div>
            </div>
            <!-- bottom footer ends -->
        </div>
    </footer>
    <!-- end:Footer -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
